<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176996163-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-176996163-1');
    </script>


    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Md. Nazrul Huda Shanto</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integritry="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    
    
</head>
<body class="static-background">
    <div class="no">
        
            {% if messages %}
             {% for message in messages %}
                    <div class="alert alert-{{message.tags}}">
                       {{ message }}
                    </div>
                 {% endfor %}
            {% endif %}
    
    </div">       
    <header class="main-header container" class="timeline"  >
       
    
        
    </header>
    <script>
        document.body.classList.add('js-loading');

        window.addEventListener("load", showPage);

        function showPage() {
        document.body.classList.remove('js-loading');
        }
    </script>

    
   
    <section class="about" id="about">
        <div class="loko" data-aos="fade-up" data-aos-delay="1000" >
            <img src="{% static 'images/profile.jpg' %}" alt=""> 
           
        </div>
        <div class="container">
           
            <div class="about-details">
                <div class="about-heading"data-aos="fade-up" data-aos-delay="1500">
                    <h1>About</h1>
                    <h6>Myself</h6>
                    
                </div>
                <p class="about-nise4"data-aos="fade-up" data-aos-delay="400">Hey. This is Nazrul Huda Shanto. While conducting a research in southeast Bandarban, I came across numerous indigenous individuals who have big dreams but lack the resources such as internet access or financial capability to pursue
                    them. As someone who has always searched for a passion, I felt myself being compelled to help these underprivileged individuals to assist their cause. I strongly believe technological innovations will improve their lives. To acheive my goal I started working with OCRs. I have worked on AI models, from both self made datasets also statblished datasets.
                    Recently I worked on production level AI developement on a project for a client. In my ongoing software engineer job, i work on multiple areas wherever my client needs help. From AI solutions, to AWS integration and creating apis with clients 
                    preferred frameworks and databases; I am on a rolar coaster of developing skills and making happy clients. Now, I am planning for pursing MS in Computer Science. Feel free to contact at md.nazrul.huda.shanto@g.bracu.ac.bd</p>

               
                
            </div>
            

        </div>

    </section>
    <section class="hero container" class="timeline" >
        <div class="content-wrapper">
           
           
            <h1 class="title"data-aos="fade-down" data-aos-delay="200" ><span></span></h1>
            <div class="social-media" data-aos="fade-down" data-aos-delay="400">
                        
                <a href="https://www.linkedin.com/in/nazrulhudashanto" class="icon-link">
                    <i class="fab fa-linkedin"></i>
                                          
                    
                </a>
           
                <a href="https://github.com/nazrulhuda" class="icon-link">
                    <i class="fab fa-github-square"></i>
                    
                </a>
           
                <a href="https://www.facebook.com/ctg.nhs/" class="icon-link">
                    <i class="fab fa-facebook-square"></i>
                    
                    
                </a>
         
            </div>
            <a target="_blank" href="{% static 'images/IMG_20230908_153532.jpg' %}" class="btn" data-aos="fade-down" data-aos-delay="800">Download Image</a>

            
            
        </div>

            
            
        
        
    </section>
    
        
            
    
    
    
   

    

    
    
    <footer class="copyright">
        <div class="up" id="up">
            <i class="fas fa-chevron-up"></i> 
        </div>
        <p class="ff">&copy; 2023 Nazrul Huda</p>
    </footer>


    
   


    
</body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
</html>


    
    
    
    
        
